name: Releasability status
on:
  workflow_dispatch:
  workflow_run:
    workflows: [Build]
    types:
      - completed
    branches:
      - master

jobs:
  update_releasability_status:
    runs-on: github-ubuntu-latest-s
    name: Releasability status
    permissions:
      id-token: write
      statuses: write
      contents: read
    steps:
      - uses: SonarSource/gh-action_releasability/releasability-status@v3
        with:
          optional_checks: "Jira,CheckDependencies,SonarCloudAnalysis,GitHub,CheckManifestValues"
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
